body{
    background-color: black;
    color:snow;
    margin: 0%;
    overflow: hidden;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
header{
    text-align: center;
    font-family: monospace;
    font-size: 1.5em;
    border-bottom: 5px solid snow;
}
.choice{
    margin:1%;
    transition: all .2s ease-in-out;
}
.choice-pop{
    transform: scale(1.1);;
    transition: all .2s ease-in-out;
}
#computer{
    margin-top: 50px;
}
#score-container{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top:25%;
}
#score-container div{
    text-align: center;
}
#score-container h4{
    margin: 5px 10px;
}
#player{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#player-choice{
    margin-bottom: 10%;
}

.button{
    size: 150%;
    font-size: 3em;
    background-color: transparent;
    transition: 0.05s ease-in-out;
    border:none;
}

.button:hover{
    transform: scale(1.1);
    border: 1px solid snow;
    border-radius: 10px;
    box-shadow: 10px 10px snow;
}

#game-over{
    background-color: black;
    position: absolute;
    box-shadow: 10px 10px snow;
    border: 1px solid snow;
    padding: 50px;
    text-align: center;
    width: 80%;
    z-index: 100;
    border-radius: 40px;
}
#winner{
    background-color: snow;
    color: black;
}
#restart-button{
    color:snow;
    font-size: 1em;
}
#restart-button:hover{
    text-decoration: underline;
    box-shadow: 0px 5px crimson;
}
#restart-button:active{
    box-shadow: 0px 2px brown;
    color: gray;
}
.invisible{
    visibility: hidden;
}

@media(max-width:550px){
    #score-container{
        position: static;
        top: inherit;
        margin-top: 12%;
    }
    #score-container h4{
        font-size: 0.7em;
    }
    .button{
        font-size: 1.5em;
    }
    #computer{
        margin-top: -30px;
    }
    #player{
        position: fixed;
        bottom:10%;
    }
    #game-over{
        font-size: 0.5em;
        top:25%;
        height: 50%;
        width: 60%;
    }
    #game-over h2{
        margin-top: 50%;
    }
}

@media(max-width: 300px) {
    header{
        font-size: 1.3em;
    }
    #score-container h4{
        font-size: 0.7em;
    }
    #computer{
        margin-top: 30px;
    }
    .button{
        font-size: 1em;
    }
    #game-over{
        font-size: 0.4em;
    }
    #game-over h2{
        margin-top: 80%;
        
    }
    
}

@media(max-height: 460px) {
    #score-container{
        margin:2px;
    }
    #score-container h4{
        font-size: 0.6em;
        margin: 0px;
    }
}